<div>
  <h2> Tag entry </h2>

  <div class="row">
      <div class="col-xs-6 col-md-4">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="enter tags" id="txtSearch" [(ngModel)]="tag.name" />
              <div class="input-group-btn">
                  <button class="btn btn-primary" type="button" (click)="onClick()">
                    <i class="navbar-toggler-icon fa fa-plus"></i>
                  </button>
              </div>
          </div>
      </div>
  </div>

  <br />

  <ul class="list-group">
      <li *ngFor="let tag of tags" class="list-group-item">
          <span> {{ tag.name }} </span>
          <!-- <i (click)="onEdit(tag)" class="navbar-toggler-icon fa fa-edit"></i> -->
          <i (click)="onDelete(tag)" class="navbar-toggler-icon fa fa-trash floatright paddingLeft"></i>
      </li>
  </ul>

</div>
